
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    margin: auto;
    background-color: #CDFCF6;
  }
  
  .intro{
    font-size: 1.5rem;
  }

  h1{
    font-family: 'Montserrat',sans-serif;
    color: #DA0463;
    font-size: 3.5rem;
  }
  .draggable-list {
    border: 1px solid black;
    padding: 0;
    list-style-type: none;
  }
  
  .draggable-list li {
    background-color: #fff;
    display: flex;
    flex: 1;
  }
  
  .draggable-list .number {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 60px;
    width: 60px;
    border-bottom: 1px solid black;
  }
  
  .draggable-list li.over .draggable {
    background-color: #eaeaea;
  }
  
  .draggable-list .country-name {
    margin: 0 20px 0 0;
    font-size: 25px;
  }
  
  .draggable-list li.right .country-name {
    color: #3ae374;
  }
  
  .draggable-list li.wrong .country-name {
    color: #ff3838;
  }
  
  .draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
    border-bottom: 1px solid black;
  }
  
  .btn{
    display: inline-block;
    margin-bottom:20px;
    margin-top:20px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  